.lead__heading {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0 0 32px;
  max-width: 720px;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__heading {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}
