.lead {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 56px 148px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 48px 0 0;
  }
}
