.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 484px;
}

@media screen and (max-width: 1023px) {
  .place__text {
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    padding: 0 16px;
  }
}
