.footer__copyright {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
  }
}
