.cover {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 245px 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url(../../images/cover-trains.jpg) no-repeat center center / cover;
  transition: all 0.2s ease-in-out;
}

.cover:hover {
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url(../../images/cover-trains.jpg) no-repeat center center / cover;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
