.footer {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 92px 48px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 69px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    align-items: start;
  }
}
