.place__url-heading {
  color: #aaa;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
