.cover__heading {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 32px;
  max-width: 560px;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__heading {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    max-width: 255px;
  }
}
