.places__card-image {
  height: 460px;
  width: 460px;
}

@media screen and (max-width: 1279px) {
  .places__card-image {
    height: 440px;
    width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .places__card-image {
    height: 340px;
    width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .places__card-image {
    height: 320px;
    width: 320px;
  }
}
