.intro__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .intro__heading {
    font-size: 32px;
    line-height: 35px;
    max-width: 251px;
  }
}
