.places__card-title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .places__card-title {
    font-size: 42px;
    line-height: 46px;

    max-width: 332px;
  }
}

@media screen and (max-width: 767px) {
  .places__card-title {
    font-size: 32px;
    line-height: 35px;

    padding: 0 16px;
  }
}
